@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 1000px;
    color: #474747;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'PT Sans Caption', sans-serif;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}
/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.l-header{
    width: 900px;
    margin: 0 auto;
    padding: 0 30px;
}
.header{
    height: 70px;
}
.logo{
    line-height: 70px;
    a{
        font-size: 34px;
        font-weight: bold;
        color: #596e84;
        span{
            color: #49c9b0;
        }
        &:hover{
            text-decoration: none;
        }
    }
    p{
        display: inline-block;
        width: 50px;
        font-size: 8px;
        line-height: 1.4;
        color: #6a7e8f;
        text-transform: uppercase;
    }
}
.arr-icon{
    display: inline-block;
    @include s(arr-right);
}
/* -------------------------------------- //END Header ------------------------------------------ */

/* ------------------------------------- Independent blocks -------------------------------------- */
.top{
    position: relative;
    width: 1400px;
    height: 459px;
    margin: 0 auto;
    border-top: 1px solid #b9babc;
    background: url(../img/top-bg.jpg) 0 0 no-repeat;
}
.women{
    position: absolute;
    top: -45px;
    right: 245px;
}
.banner{
    position: absolute;
    bottom: 45px;
    right: 358px;
    height: 148px;
    width: 470px;
    overflow: hidden;
    p{
        font-size: 19px;
        color: #2c3e50;
        line-height: 1;
    }
}
.banner__icon{
    float: left;
    margin-right: 15px;
    @include s(banner);
}
.banner__text{
    float: left;
    margin-top: 15px;
    width: 306px;
}
.title{
    font-size: 59px;
    font-weight: bold;
    @include text-shadow(0 1px 0 #fff);
    color: #596d83;
    span{
        color: #49c9b0;
    }
}
.l-menu{
    height: 70px;
    background: #eff3f6;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dae0e5;
}
.menu{
    width: 956px;
    margin: 0 auto;
    @include clr;
}
.menu__item{
    display: table;
    float: left;
    width: 190px;
    height: 70px;
    border-right: 1px solid #dae0e5;
    &:first-child{
        border-left: 1px solid #dae0e5;
    }
    a{
        display: table-cell;
        padding: 0 10px;
        color: #2c3e50;
        font-weight: bold;
        font-size: 13px;
        text-align: center;
        vertical-align: middle;
        &:hover{
            text-decoration: none;
        }
    }
}
.menu__item.is-active{
    position: relative;
    top: -1px;
    height: 72px;
    background: #919faf;
    @include background-image(linear-gradient(top, #768597 0%, #919faf 20%, #919faf 90%, #8e9cac 100%));
    a{
        color: #fff;
        @include text-shadow(0 1px 0 rgba(0,0,0,.5));
    }
}
.tasks{
    width: 960px;
    margin: 0 auto;
    padding-top: 52px;
}
.h1{
    font-size: 36px;
    color: #2c3e50;
    text-align: center;
}
.h2{
    font-size: 15px;
    font-weight: bold;
    color: #2c3e50;
}
.task-list{
    @include clr;
    margin-top: 65px;
}
.task{
    float: left;
    width: 50%;
    overflow: hidden;
    padding-bottom: 86px;
}
.task__img{
    float: left;
    margin-right: 25px;
}
.task__text{
    width: 327px;
    overflow: hidden;
    padding-right: 30px;
    @include box-sizing(border-box);
    p{
        margin-top: 23px;
        font-size: 13px;
        color: #424242;
    }
}
/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */  
/* -------------------------------------- //END Footer ------------------------------------------- */